test/**/*.tam
# NetBeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
#/nbproject/*
#build/
#dist/
#build/

# Java
*.class
*.jar
*.war
*.ear
